@import url(css/bootstrap.min.css);
@import url(font-awesome/css/font-awesome.css);

@font-face {
    font-family: "NunitoSans";
    src: url(fonts/Nunito_Sans/NunitoSans-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: url(fonts/Quicksand/Quicksand-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "QuicksandBold";
    src: url(fonts/Quicksand/Quicksand-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "NunitoSansLight";
    src: url(fonts/Nunito_Sans/NunitoSans-Light.ttf) format("truetype");
}

nav{
    width: 100%;
    height: 100px;
    background-image:url('img/degradadonav.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body{
    background-color: #333333;
}

.fondoBlanco{
    background-color:#F2F2F2 ;
}

.container{
    position: relative;
}
.card{
    box-shadow: 0.5px 0.5px 2px grey;
    background-color: white;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    padding: 40px;
}

footer{
    background-color: #00386D;
    width: 100%;
    height: 250px;
}

.separador{
    height: 13px;
    width: 100%;
}

.slider{
    width: 100%;
    height: 400px;
    background-color: transparent;
    overflow: hidden;
}

img{
    width: 100%;
}

.logo{
    width: 100%;
    height: 100px;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.head{
    background-color: transparent;
}

.navigation{
    width: 100%;
    height: 100px;
    position: relative;
    /*background-color: purple;*/
}

.login{
    width:75px;
    height: 30px;
    position: absolute;
    /*background-color: blue;*/
    top: 10px;
    right: 0px;
    font-size: 1.5em;
}

.inicio{
    width:75px;
    height: 30px;
    position: absolute;
    /*background-color: blue;*/
    bottom: 10px;
    right: 205px;
    font-size: 1.5em;
}

.servicios{
    width:75px;
    height: 30px;
    position: absolute;
    /*background-color: blue;*/
    bottom: 10px;
    right: 130px;
    font-size: 1.5em;
}

.noticias{
    width:75px;
    height: 30px;
    position: absolute;
    /*background-color: blue;*/
    bottom: 10px;
    right: 15px;
    font-size: 1.5em;
}
.titulillos{
    font-family: Quicksand;
    font-size: 1.75em;
}

.descripcion{
    font-family: NunitoSansLight;
    font-size: 1.30em;
}

.tituloNoticia{
    font-family: QuicksandBold;
}

.cuerpo{
    font-family: NunitoSansLight;
}

a:link.boton, a:visited.boton{
    background-color: #f44336;
    color: white;
    padding: 5px 13px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


a:hover.boton, a:active.boton {
    background-color: red;
}
a:link.nav, a:visited.nav{
    color: white;
    font-family: NunitoSans;
    text-decoration: none;
}

a:hover.nav, a:active.nav{
    color: orange;
}

a:link.app, a:visited.app{
    color: #7c7cf4;
    font-family: NunitoSans;
    text-decoration: none;
}

a:hover.app, a:active.app{
    color: orange;
}

a:link, a:visited{
    /*color: #7c7cf4;*/
    color: white;
    font-family: NunitoSans;
    text-decoration: none;
}

a:hover, a:active{
    color: orange;
}

.copyright{
    font-family: NunitoSansLight;
    color: white;
    text-align: center;
    margin-top: 0px;
}

.logoFooter{
    margin-top: 20px;
    font-family: NunitoSansLight;
    /*background-color: green;*/
    width: 100%;
    height: 200px;
    text-align: left;
    color: white;
}

.contactoFooter{
    margin-top: 20px;
    font-family: NunitoSansLight;
    /*background-color: green;*/
    width: 100%;
    height: 200px;
    text-align: left;
    color: white;
}

.redesSocialesFooter{
    margin-top: 20px;
    font-family: NunitoSansLight;
    /*background-color: green;*/
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 3em;
    color: white;
}

.separadorFooter{
    width: 100%;
    height: 40px;
}

.separadorFooterRedes{
    width: 100%;
    height: 60px;
}
