{"filter":false,"title":".htaccess","tooltip":"/citas/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":0},"end":{"row":2,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1490184865669,"hash":"86807ada1093f68c6b995762537d4b6851f7fa47"}